[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulsectl = "*"
logzero = "*"
click = "*"

[dev-packages]
pytest = "*"
tox = "*"
pylint = "*"
"flake8" = "*"
mypy = "*"
coverage = "*"
apprec = {editable = true, path = "."}

[requires]
python_version = "3.7"
